#contact {
  .container {
    background-color: $color_gray_light;
    padding-bottom: 20px;
  }
  .iconContainer {
    margin-top: -60px;
    text-align: center;
    .icon {
      color: $color_magenta;
      display: inline-block;
      width: 120px;
      height: 60px;
      padding: 20px;
      background-color: $color_gray_light;
      border-top-left-radius: 100px;
      border-top-right-radius: 100px;
      i {
        width: 80px;
        height: 80px;
        padding: 5px;
        border-radius: 45px;
        border: 2px solid $color_magenta;
      }
    }
  }
  form {
    label {
      font-weight: 400;
    }
    input,
    textarea {
      border: 3px solid white;
      background-color: $color_gray_dark;
      color: white;
      font-size: 1.2em;
      border-radius: 5px;
    }
    input {
      height: 50px;
    }
    #message {
      height: 150px;
    }
    button {
      padding: 10px 20px;
      border: 3px solid white;
      background-color: $color_gray;
      font-size: 1.2em;
      color: $color_gray_dark;
      border-radius: 5px;
      transition: all .3s linear;
      &:hover {
        background-color: $color_magenta;
        color: $color_gray;
      }
    }
  }
  img {
    margin: 25px auto;
    max-width: 100%;
    max-height: 325px;
    filter: grayscale(100%);
    transition: filter .5s linear;
    &:hover {
      filter: grayscale(0);
    }
  }
  table {
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    tr {
      &:hover {
        color: $color_magenta;
        i {
          border-color: $color_magenta;
        }
      }
      >td {
        padding-bottom: 1em;
      }
      td:first-child {
        text-align: center;
      }
      i {
        width: 40px;
        height: 40px;
        padding: 5px;
        border-radius: 45px;
        border: 1px solid $color_gray_dark;
      }
      .fa-envelope-o {
        padding-top: 7px;
        font-size: 1.5em;
      }
    }
  }
}
